.wrapper
  -# .header
  .sidebar
    .side-header
      .user_name name
    .groups 
      .group
        .group__name test-group
        .group__message こんにちは
      .group
        .group__name sample-group
        .group__message こんばんは
      .group
        .group__name example
        .group__message おやすみ
