@import "font-awesome";
@import "config/reset";
@import "config/colorset";
.wrapper{
  .sidebar{
    box-sizing: border-box;
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
    float: left;
    color: $white;
    .header{
      background-color: #253141;
      height: 100px;
      padding:0 20px; 
      line-height: 100px;
      text-align: left;
      &__name{
        display: inline-block;
        padding: 0 20px;
        float: left;
        font-size: 16px;
        font-weight: bold;
      }
      &__lists{
        box-sizing: border-box;
        display: inline-block;
        float: right;
        .list{
          display: inline-block;
        }
        .icon{
          color: $white;
        }
      }
    }
    .groups{
      box-sizing: border-box;
      height: calc(100vh - 100px);
      width: 300px;
      .group{
        box-sizing: border-box;
        padding: 20px;
        &__name{
          font-size: 15px;
          font-weight: bold;
        }
        &__message{
          margin-top: 5px;
          font-size: 11px;
          font-weight: bold;
        }
      }
    }
  }
  .chat-main{
    box-sizing: border-box;
    display: block;
    width: auto;
    float: none;
    .main-hedder{
      background-color: $white;
      box-sizing: border-box;
      display: block;
      height : 100px;
      width: auto;
      border-bottom: solid 1px #eeeeee;
      float: none;
      .current-group{
        width: auto;
        margin-left: 40px;
        float: left;
        &__name{
          margin: 35px 0 15px;
          font-size: 20px;
          font-weight: bold;
          color: #333333;
        }
        &__menber{
          font-size: 12px;
          color: #999999;
        }
      }
      .edit-button{
        margin: 28px 40px 0 0;
        padding: 0 20px;
        height: 40px;
        text-align:center;
        line-height: 40px;
        border: solid 1px $light-blue;
        color: $light-blue;
        float: right;
      }
    }
    .chat-box{
      background-color: #fafafa;
      box-sizing: border-box;
      height: calc(100vh - 100px - 90px);
      width: calc(100% - 300px);
      padding-top: 6px; 
      float: left;
      .message{
        width: auto;
        margin: 40px;
        &__speaker{
          margin-right: 10px;
          font-size: 16px;
          font-weight: bold;
          color: $font-gray;
          float: left;
        }
        &__time{
          margin-left: 10px;
          font-size: 12px;
          color: #999999
        }
        &__text{
          margin-top: 10px; 
          font-size: 14px;
          color: $font-gray;
        }
      }
    }
    .form{
      background-color: rgb(185, 185, 185);
      height: 90px;
      width: calc(100% - 300px);
      float: left;
      .new-message{
        margin: 20px 40px 0;
        .text-box{
          background-color: $white;
          width: calc(100% - 160px);
          height: 50px;
          line-height: 50px;
          padding: 0 10px;
          font-size: 16px;
          color: $font-gray;
          float: left;
        }
        .upload-label{
          background-color: $white;
          display: inline-block;
          line-height: 50px;
          padding-right: 10px; 
          font-size: 20px;
        }
          .hidden{
            display: none;
          }
        .send-button{
          background-color: $light-blue;
          margin-left: 15px;
          padding: 0 20px;
          height: 50px;
          line-height: 50px;
          color : $white;
          float: right;
        }
      }
    }
  }
}